body {
    min-width: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * Styles for the Score Panel & heading
 */

header h1 {
    width: 100%;
    padding-top: 20px;
    font-family: 'Coda', cursive;
    font-size: 2.2em;
}

.score-panel {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: -50px;
}

.title-score {
    width: 50%;
    margin-right: -150px;
    font-family: 'Coda', cursive;
    font-size: 1.3em;
}

.score {
    width: 50%;
    font-family: 'Coda', cursive;
    font-size: 1.3em;

}

.title-lives {
    width: 50%;
    font-family: 'Coda', cursive;
    font-size: 1.3em;
}


.lives {
    width: 50%;
    padding-top: 10px;
    margin-left: -150px;
    align-items: right;
}

.lives ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
}

.heart img {
    height: 50px;
    margin-top: -150px
}

/*
 * Styles for the modal
 */

 .modal {
   position: absolute;
   top: -200%;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.8);
   transition: all 400ms ease;
   font-family: 'Coda', cursive;
 }

  .modal .modal-content {
    width: 60%;
    margin: 15% auto;
    padding: 2em;
    text-align: center;
  }
